
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Lifenote</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css"></head>
<body>
	<div class="page-group">
		<div class="page page-current">
		<header class="bar bar-nav">
		 
		</header>
			<nav class="bar bar-tab">
				<a class="tab-item external active" href="/index">
					<span class="icon icon-home"></span>
					<span class="tab-label">主页</span>
				</a>
				<a class="tab-item external" href="/statistics">
					<span class="icon icon-edit"></span>
					<span class="tab-label">统计</span>

				</a>

				<a class="tab-item external" href="/setting">
					<span class="icon icon-settings"></span>
					<span class="tab-label">设置</span>
				</a>
			</nav>
